# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore RSA keys
keys/
*.pem

# Ignore Docker-related files
docker-compose.yml

# Ignore test coverage reports
coverage/

# Ignore system files
.DS_Store

# Ignore git directory
.git/
